.stick_follow_icon {
    bottom: 0; /* Position at the bottom */
    left: 0;   /* Align to the left side */
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    position: fixed; /* Fix it in place */
    margin: 0; /* Remove margin */
    padding: 10px; /* Optional padding for spacing */
}

.stick_follow_icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stick_follow_icon svg {
    width: 1.3em;
    height: 1.3em;
    fill: var(--text-color);
}

.stick_follow_icon p {
    width: auto;
    height: auto;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    white-space: nowrap;
    position: relative;
    transform: rotate(0deg); /* Remove rotation */
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.stick_follow_icon ul li {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    transition: all .3s;
}

.stick_follow_icon p:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--text-color);
    width: 40px;
    height: 1px;
    bottom: -10px; /* Adjust position relative to text */
    left: 0;
}

@media only screen and (max-width: 991px) {
    .stick_follow_icon {
        width: auto; /* Adjust width */
        height: auto; /* Adjust height */
        position: static; /* Change position for smaller screens */
        display: flex;
        flex-direction: row; /* Arrange items horizontally */
        justify-content: center;
        padding: 20px; /* Adjust padding for mobile */
    }
    .stick_follow_icon p {
        font-size: 17px; /* Larger font size for mobile */
        margin-right: 0; /* Adjust margin */
    }
    .stick_follow_icon ul {
        margin-bottom: 20px; /* Adjust spacing for mobile */
    }
    .stick_follow_icon ul li {
        display: inline;
        margin-bottom: 0;
        margin-right: 1
    }
}
